@import '../../styles.scss';

h3{
    color: $stopwatch-timer-color;
    font-weight: 500;
    margin-bottom: 10px;
}

.laps-container{
    max-height: 85%;
    overflow-y: scroll;
}

.laps-manager{
    max-height: calc(100vh - 350px);
    height: calc(100vh - 350px);
}