<div class="stopwatch">
    <div class="svg-container">
        <svg >
            <g class="svg-grouping">
                <circle class="circle1" cx = "131" cy = "130" r = "110"></circle>
                <circle #circle2 class = "circle2" cx = "131" cy = "130" r = "110"></circle>
            </g>
        </svg>
        <span class="stopwatch-container"> {{util.milliSecondsToStandardTimeFormat(timer)}} </span>
    </div>
    
    <div class="stopwatch-actions">
        <app-custom-button [fill] = "'outline'" [size] = "'small'" (buttonClick) = "startTimer()" *ngIf = "!isClockRunning" > Start </app-custom-button>
        <app-custom-button [fill] = "'outline'" [size] = "'small'" (buttonClick) = "endTimer()" *ngIf = "isClockRunning" > Stop </app-custom-button>
        <app-custom-button [fill] = "'outline'" [size] = "'small'" (buttonClick) = "resetTimer()" *ngIf = "timer"> Reset </app-custom-button>
        <app-custom-button [fill] = "'outline'" [size] = "'small'" (buttonClick) = "recordLap()" *ngIf = "isClockRunning"> Lap </app-custom-button>
    </div>
</div>

<div>
    <app-laps-manager #lapManager> </app-laps-manager>
</div>

