@import '../../styles.scss';


@mixin distant-elements {
    display: flex;
    justify-content: space-around;
}

@mixin center-elements {
    display: flex;
    justify-content: center;
    align-items: center;
}
.stopwatch {
    flex-flow: column;
    @include center-elements()
}
.svg-container{
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        height: 250px;
        width: 250px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        .svg-grouping{
            fill: none;
            stroke: none;
        }
    }

    .stopwatch-container{
        position: absolute;
        font-size: 2rem;
        color: $stopwatch-timer-color;
    }
}

.stopwatch-actions {
    @include distant-elements()
}


.circle1{
    stroke: $stopwatch-progress-bar-primary;
    stroke-width: 7px;
}

.circle2{
    stroke: $stopwatch-progress-bar-secondary;
    stroke-width: 7px;
    stroke-dasharray: 691.5;
    transition: all 1s linear;
}

.lap-manager-container{
    max-height: calc(100vh - 278px);
}

