@import '../../styles.scss';

.stopwatch {
    font-size: 2rem;
    width: 12rem;
    background: black;
    color: wheat;
    display: flex;
    justify-content: center;
    height: 12rem;
    align-items: center;
    position: relative;
    :after{
        background: linear-gradient(to right, #bcbcbc 25%,#ffcd02 25%, #ffcd02 50%, #e84f47 50%, #e84f47 75%, #65c1ac 75%);
        position: absolute;
        content: '';
        height: 4px;
        right: 0;
        left: 0;
        top: 0;
    }
}
.svg-container{
    width: 250px;
    height: 250px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        height: 250px;
        width: 250px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
        .svg-grouping{
            fill: none;
            stroke: none;
        }
    }

    .stopwatch-container{
        position: absolute;
        font-size: 2rem;
    }
}


.circle1{
    stroke: $stopwatch-progress-bar-primary;
    stroke-width: 20px;
}

.circle2{
    stroke: green;
    stroke-width: 20px;
    stroke-dasharray: 691.5;
    transition: all 1s linear;
}