/* You can add global styles to this file, and also import other style files */

$stopwatch-progress-bar-primary:#a78751;
$stopwatch-progress-bar-secondary:black;
$stopwatch-timer-color:white;
$body-background:#2f3035;
$web-margin-width:80%;
$mobile-margin-width:100%;
body {
    background: $body-background;
    margin: 0;
}


